div.container-flex{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 500px;
}

div.container-flex div.cor{
    background-color: aliceblue;
    height: 10px;
    width: 300px;
    margin-bottom: 60px;
    margin-left: 60px;
}

div.container-main{
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    width: 70vw;
    justify-content: space-evenly;
    margin-bottom: 60px;
    padding: 20px;

}

div.container-main div{
    background-color: blue;
    height: 400px;
    width: 400px;
    padding: 10px;
    border-radius: 6px;
}